<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="css/main.css">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900,400italic,700italic|Roboto+Condensed:300,400,700,400italic,700italic|Roboto+Mono' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/rune.js"></script>
    <script type="text/javascript" src="js/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>
