// Headings
// --------------------------------------------------------

h1 {
  font-size: 3.8em;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 0.3em;
}

h2 {
  font-size: 2.1em;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin-bottom: 0.6em;
  margin-top: 1.2em;
}

h3 {
  font-size: 1.7em;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 1.3em;
}

h4 {
  margin-bottom: 0.6em;
}

h4 code {
  border-bottom: 2px solid $yellow;
  padding: 0;
  padding-bottom: 6px;
  background-color: initial;
  display: inline-block;
  font-weight: normal;
  color: #333;
  font-size: 1.1em;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid $yellow;
}

// Body
// --------------------------------------------------------

h1 + p {
  font-size: 1.2em;
  font-weight: 300;
  color: $gray_text;

  a {
    text-decoration: none;
    color: black;
  }
}

pre {
  white-space: pre-wrap;
  background-color: $gray;
  padding: 0.4em;
  code {
    background-color: inherit;
  }
}

code {
  font-family: 'Roboto Mono', 'Consolas', monospace;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: $gray;
  font-size: 0.9em;
}

p, ul, ol, table {
  font-size: 1.07em;
  line-height: 1.6em;
  color: #333;
}

#download + p {
  font-size: 1.2em;
}
