// Headings
// --------------------------------------------------------

h1, h2, h3, h4, h5 {
  // font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-size: 2.1em;
  font-weight: 900;
  letter-spacing: 0.02em;
  margin: 0.5em 0;
}

h3 {
  font-size: 1.7em;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 1.6em;
}

h4 {
  margin-bottom: 0.6em;
}

h4 code {
  border-bottom: 2px solid $yellow;
  padding: 0;
  padding-bottom: 6px;
  background-color: initial;
  display: inline-block;
  font-weight: normal;
  color: #333;
  font-size: 1.1em;
}

// Body
// --------------------------------------------------------

pre {
  background-color: $gray;
  padding: 0.4em;
}

code {
  font-family: 'Roboto Mono', 'Consolas', monospace;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: $gray;
  font-size: 0.9em;
}

h3 + p {
  font-size: 1.2em;
  font-weight: 300;
  color: $gray_text;
  margin: 0.5em 0;
}

p, ul, ol {
  font-size: 1em;
  line-height: 1.6em;
  color: #333;
}