body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin: 0;
}

#content {
  margin: 0px 25px;
  max-width: 650px;
}

@media (min-width: $first_break) {
  #content {
    margin: 0px 45px;
  }
}

// Menu
// --------------------------------------------------------

header {
  border-bottom: 2px solid $yellow;
  width: 100%;

  ul {
    text-align: center;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0.5em;
      display: inline-block;

      a {
        color: #3A3A3A;
        border: none;
      }
    }
  }
}

@media (min-width: $first_break) {
  header {
    padding-left: 2.2em;
    ul {
      text-align: left;
      li {
        margin-right: 1em;
      }
    }
  }
}

// Download table
// --------------------------------------------------------

table {

  width: 100%;

  thead {
    text-align: left;
  }

  tr td {
    padding-right: 30px;

    &:last-child {
      padding-right: 0;
    }
  }
}

@media (max-width: $first_break) {
  table {
    display: none;
  }
}