body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin: 0;
}

#content {
  margin: 0px 25px;
  max-width: 650px;
}

@media (min-width: $first_break) {
  #content {
    margin: 0px 45px;
  }
}

// Menu
// --------------------------------------------------------

header {
  background-color: #333;
  border-bottom: 2px solid $yellow;
  -webkit-font-smoothing: antialiased;

  ul {
    text-align: center;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0.5em;
      display: inline-block;

      a {
        color: white;
        border: none;
      }

      iframe {
        vertical-align: text-bottom;
      }
    }
  }
}

@media (min-width: $first_break) {
  header {
    padding-left: 2.2em;
    ul {
      text-align: left;
      li {
        margin-right: 1em;
      }
    }
  }
}

// TOC
// --------------------------------------------------------

#toc {
  background-color: #F9F9F9;
  display: none;
  position: absolute;
  left: 750px;

  ul {
    font-size: 1.15rem;
    list-style: none;
    margin: 0;
    padding: 0;
    right: 20px;
    border: 1px solid #FF0;

    li {
      border-bottom: 1px solid #FF0;
      padding: 0.3em 1em;

      a {
        border-bottom: none;
      }

      // second level
      ul {
        font-size:0.9rem;
        border: none;
        li {
          border: none;
          padding: 0.05em 0.5em;
        }
      }
    }

  }

}

@media (min-width: 930px) {
  #toc {
    display: block;
  }
}

// Download table
// --------------------------------------------------------

table {

  width: 100%;

  thead {
    text-align: left;
  }

  tr td {
    padding-right: 30px;

    &:last-child {
      padding-right: 0;
    }
  }
}

@media (max-width: $first_break) {
  table {
    display: none;
  }
}

// Banner
// --------------------------------------------------------

#banner {
  margin-top: 2em;
  max-width: 100%;
}
