<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="css/main.css">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900,400italic,700italic|Roboto+Condensed:300,400,700,400italic,700italic|Roboto+Mono' rel='stylesheet' type='text/css'>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

  </head>

  <body class="{{ page.bodyClass }}">

    <header>
      <ul>
        <li><a href="index.html">Getting started</a></li>
        <li><a href="documentation.html">Documentation</a></li>
        <li><a href="http://printingcode.runemadsen.com/examples/">Examples</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </header>

    <div id="content">
        {{ content }}
    </div>

  </body>

</html>